body {
  background-image: url(/assets/intro_cover/cover_small.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: transparent;
    color: #f5f5f5;
}

@media only screen and (min-width: 800px) {
    body {
    background-image: url(/assets/intro_cover/cover.jpg) no-repeat center center fixed; 
}
}

.logo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-main img {
    width: 50%;
    max-width: 400px;
    max-height: 400px;
}
.logo-main a {
    padding: 0.25em 0.5em 0.25em 0.5em;
    color: white;
}
a:hover {
    color: #ff7373
}
