---
layout: default
permalink: /journal
---
      
      <div class="container center">
        <h1>Journal</h1>
        <p>Three fresh posts below.</p>
          <ul class="journal row">
  {% for post in site.posts limit: 3 %}
    <li class="col-md-4">
        {% for image in site.static_files %}
    {% if image.path contains post.img and image.path contains 'thumbnail' and image.path contains 'lead' %}
        <a href="{{ post.url }}"><img class="postImage" src="{{ image.path }}"></a>
    {% endif %}
    {% endfor %}
        <a class="normal-font" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <div>On {{ post.date | date_to_long_string }} in
    {% assign categories = post.categories %}
  {% for category in categories %} <span class="button archive-title country-button"><a class="archive-title" href="{{site.url}}/countries/#{{category|slugize}}">{{category}}</a></span>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
        <a class="normal-font" href="{{ post.url }}"><p>{{ post.excerpt | truncatewords: 18 }}</p></a>
        
    </li>
  {% endfor %}      
</ul>
    </div>

<hr>

<div class="container center">
    <a class="normal-font" href="{{ site.baseurl }}/archive"><h1>Archive</h1></a>
           <p>Posts sorted by most recent first.</p>
          <ul class="journal row">
  {% for post in site.posts limit: 10 %}
    <li class="col-xs-12 col-sm-4 col-lg-2 center">
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a><h5 class="center">{{ post.date | date_to_long_string }}</h5>
    </li>
  {% endfor %}      
</ul>
    </div>

<hr>

<div class="container center">
    <a class="normal-font" href="{{ site.baseurl }}/countries"><h1>Countries</h1></a>
           <p>Sorts posts by country.</p>
          {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <button class="button country-button"><a class="archive-title" href="{{ site.baseurl }}/countries#{{ category_name }}">{{ category_name }}</a></button>
    {% endfor %}
    
    </div>
<hr>

<div class="container center">
        <a class="normal-font" href="{{ site.baseurl }}/tags"><h1>Tags</h1></a>
          {% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}


{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}
   <div class="tag-box center-block"> 
       <p>Sorts posts by tags.</p>
{% for tag in tags %}
	<button class="button tag-button archive-title">
    <a href="{{ site.baseurl }}/tags#{{ tag | slugify }}">{{ tag }}</a></button>
{% endfor %}
</div>
    </div>

{% include signature.html %}