/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Nase CSS
 * --------------------------------------- */
/* BODY
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
    font-size: 100%;
    background-color: #faf9f7;
}
.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
}
/* TITLES & TEXT
 * --------------------------------------- */ 
.titles {
    height: 50px;
}
h1{
	font-size: 4em;
    font-family: Helvetica;
    text-align: center;
}
.white {
   color: white; 
}
p{
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    font-family: courier;
    text-align: center;
    font-size: 1.2em;
    color:#444;
    max-width: 700px;
}

/* SECTIONS SETTINGS
 * --------------------------------------- */
.section{
	text-align:center;
    justify-content: center;
    align-items: center;
    background-color: #faf9f7;
    display: flex;
    position: relative;
    min-height: 700px;
    height: 100%;
}
#center {
    text-align:center;
    justify-content: center;
    align-items: center;
    
}

#Home {
    background-image: url(img/cover2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#YearinaBackpack {   
    
}
#About {
    
}
#WhoAreWe {
}
#WhatDoYouGet {
}

#animation {
    background-image: url(img/2pplnew.png);
    background-size: 15%;
    background-position: bottom right;
    background-repeat: no-repeat;
    animation: animateWhoWeAre 20s linear 1;
    z-index: 1;
    overflow: hidden;
    height: 100%;
}
@keyframes animateWhoWeAre {
	from { background-position: bottom left; }
	to { background-position: bottom right; }
}

.profilPic {
    width: 100%;
    display: block;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;   
}
#simon {
    display: block;
   height: 100%;
    margin-bottom: 1em;
}
#jakub {
    display: block;
   height: 100%;
    margin-bottom: 1em;
}
#Contact {
    background-size: cover;
    background-image: url(img/road.jpg);
    background-repeat: no-repeat;
}
.layer {
    background-color: rgba(51,51,51, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.content {
    position: relative;
    display: block;
    z-index: 999;
    margin-bottom: 3em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}
/* LOGOS & BUTTONS
 * --------------------------------------- */
#hlavniLogo {
    width: 400px;
}
.navLogo {
    height: 30px;
    width: 30px;
}
#social {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    z-index: 70;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}
#btnFb, #btnTw, #btnMail {
    border: 4px white solid;
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: courier new;
    font-size: 1.5em;
    line-height: 3em;
}
.btnPaypal {
    border: 4px white solid;
    height: 30px;
    padding: 0.5em 2em 0.5em 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btnPaypal:hover {
    border: 4px #ff7373 solid;
}
#btnFb:hover {
    border: 4px #0066cc solid;
}
#btnTw:hover {
    border: 4px #5BADFF solid;
}
#btnMail:hover {
    border: 4px #c1ffc1 solid;
}
#btnClose {
    
}
/* MENU
 * --------------------------------------- */
#btnMenu {
    width: 13%;
    min-width: 100px;
    color: white;
    font-family: arial bold;
    font-size: 1.2em;
    display: flex;
    position: fixed;
    z-index: 99999;
    right: 20px;
    top: 20px;
}
.sidr {
  /* Default Settings */
  display: none;
  position: fixed;
  top: 100px;
  height: 100%;
  z-index: 999999;
  width: 90%;
  overflow-x: none;
  overflow-y: scroll;
  /* Theme Settings */
  font-size: 1em;
  color: black;
}
.sidr a {
   color: black;
    font-family: courier new;
    font-size: 1.4em;
    padding: 0.25em .25em .25em .25em;
   margin: 1em;
    display: flex;
    flex-direction: column;
    line-height: 1em;
    border-bottom: 1.5px black solid;
    justify-content: center;
}
.sidr a:hover {
    background: #b6fcd5;
    border-bottom: 1.5px #b6fcd5 solid;
}
.sidr.right {
  left: auto;
  right: -260px;
}
#btnClose {
   border-bottom: 2px #fa8072 solid;
}
#btnClose:hover {
   background: #fa8072;
}

.socialMargin {
    margin-right: .5em;
}
