---
layout: default
permalink: /tags/
title: Tags
description: "Posts from Year in a Backpack sorted by tags - you can read posts related by topics."
---



<div class="container">
<h1 class="center">Tags</h1>
    {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
{% endfor %}
    {% assign sorted_tags = (site.tags | sort:0) %}
<div style="tag-box">
{% for tag in sorted_tags %}
<a href="#{{tag_name|slugize}}" class="button tag-button">{{ tag | first }}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
</div>
    <hr>
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture tag %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <div class="center">
    <div id="{{ tag | cgi_escape }}"></div>
    <h3 class="tag-head archive-title button tag-button">{{ tag | first }}</h3>
    <a name="{{ tag | slugize }}"></a>
   <ul class="posts">
{% for post in site.tags[this_word] %}
       <article class="archive-item tags">
      <h5>{{post.date | date_to_long_string}} <a href="{{ site.baseurl }}{{ post.url }}"> - <b>{{post.title}}</b></a> in <a class="button country-button archive-title" href="{{ site.baseurl }}/countries#{{ category_name }}">{{ post.categories }}</a></h5>
    </article>
           {% endfor %}
      </ul>
        {% endfor %}
  </div>
{% endfor %}
</div>
{% include signature.html %}
