<ul class="list-inline">
	{% assign author = site.authors[page.author] %}
{% if author %}
	<li class="button author-button" itemprop="author" itemscope="" itemtype="http://schema.org/Person" >{{ author.display_name }}</li>
{% endif %}
	<li class="button time-button" itemprop="datePublished">{{ page.date | date: "%-d %B %Y"}}</li>
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
{% if page.landmark is defined %}
  <li itemprop="contentLocation" itemscope itemtype="http://schema.org/AdministrativeArea"><a class="button country-button archive-title" href="{{site.url}}/countries/#{{category|slugize}}">{{ page.landmark }}</a></li>
{% endif %}
  <li itemprop="contentLocation" itemscope itemtype="http://schema.org/AdministrativeArea"><a class="button country-button archive-title" href="{{site.url}}/countries/#{{category|slugize}}">{{category}}</a></li>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}

    {% for tag in page.tags %}
        <li itemprop="keywords"><a class="button tag-button archive-title" href="{{ site.baseurl }}/tags#{{ tag | slugify }}" rel="tag">{{ tag }}</a></li>
		 {% endfor %}
</ul>
