<ul class="list-inline">
    <li><button class="button time-button">{{ page.date | date: "%-d %B %Y"}}</button></li>
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <li><a class="button country-button archive-title" href="{{site.url}}/countries/#{{category|slugize}}">{{category}}</a></li>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}

    {% for tag in page.tags %}
        <li><a class="button tag-button archive-title" href="{{ site.baseurl }}/tags#{{ tag | slugify }}">{{ tag }}</a></li>
		 {% endfor %}
</ul>
