<style>
  #msform {
	width: 90%;
  	max-width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	margin-bottom: 10px;
}
.fs-subtitle {
	color: #666;
	margin-bottom: 20px;
}
	.signup-button {
		border: 1px #66CDAA solid;
		color: #336655;
		background: transparent;
}
	.signup-button:hover {
		border: 1px #66CDAA solid;
		color: white;
		background: #66CDAA;
}
</style>

<!-- multistep form -->
<form id="msform" action="//yearinabackpack.us14.list-manage.com/subscribe/post?u=3aec4fe6e7ba7945856e9d0ec&amp;id=b90a1162e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
  <!-- fieldsets -->
  <fieldset>
    <h3 class="fs-title">Backpackers newsletter</h3>
    <h4 class="fs-subtitle">with fresh stories and images</h4>
   
    <input type=text placeholder="Your Name *" class="signup-name center" id="name" name="NAME" maxlength=100 />
<input type=text placeholder="Email Address *" class="signup-email center formbox-field-766318" id="email" name="EMAIL" maxlength=100 />
<button type="submit" krydebug="1751" class="button signup-button center">Subscribe</button>
  </fieldset>
	 <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>

		<div class="response" id="mce-success-response" style="display:none"></div>

	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3aec4fe6e7ba7945856e9d0ec_b90a1162e5" tabindex="-1" value=""></div>
  </form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


