<style>
  form {
    width: 80%;
    margin: auto auto;
  }
  input {
    background: transparent;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid #254f75;
    border-left: 1px solid #254f75;
    border-bottom: 2px solid #254f75;
    border-right: 2px solid #254f75;
    width: 70%;
    max-width: 400px;
  }
  textarea {
  padding: 15px;
  background: transparent;
  outline: none;}
 
  .signup-button {
    border: 1px solid #254f75;
    background: transparent;
    padding: .75em 4em .75em 4em;
    color:  #254f75;
  }
  
</style>


<form class="center-block" action="https://lb.benchmarkemail.com//code/lbform" method=post name="frmLB766318" accept-charset="UTF-8" onsubmit="return _checkSubmit766318(this);" >
<input type=hidden name=successurl value="http://www.benchmarkemail.com/Code/ThankYouOptin" />
<input type=hidden name=errorurl value="http://lb.benchmarkemail.com//Code/Error" />
<input type=hidden name=token value="mFcQnoBFKMTGH%2Fh2SGYGneZXUawFafLCUAjPvVSGy9cF7QYrl9KV0w%3D%3D" />
<input type=hidden name=doubleoptin value="" /><fieldset><div class="signup-title"><h3>Backpackers Newsletter</h3></div></fieldset>
<div class="input center-block">
 <fieldset class="signup center-block">
<input type=text placeholder="Your Name *" class="signup-name formbox-field-766318" id="name" name="fldfirstname" maxlength=100 />
</fieldset>
 </div>
 <div class="center">
<fieldset class="formbox-field-email-766318">
<input type=text placeholder="Email Address *" class="signup-email formbox-field-766318" id="email" name="fldEmail" maxlength=100 />
</fieldset>
 </div>
 <div class="input">
<fieldset><button type="submit" krydebug="1751" class="button signup-button">Subscribe</button></fieldset></form>

<script type="text/javascript">
function CheckField766318(fldName, frm){ if ( frm[fldName].length ) { for ( var i = 0, l = frm[fldName].length; i < l; i++ ) {  if ( frm[fldName].type =='select-one' ) { if( frm[fldName][i].selected && i==0 && frm[fldName][i].value == '' ) { return false; }  if ( frm[fldName][i].selected ) { return true; } }  else { if ( frm[fldName][i].checked ) { return true; } }; } return false; } else { if ( frm[fldName].type == "checkbox" ) { return ( frm[fldName].checked ); } else if ( frm[fldName].type == "radio" ) { return ( frm[fldName].checked ); } else { frm[fldName].focus(); return (frm[fldName].value.length > 0); }} }
function rmspaces(x) {var leftx = 0;var rightx = x.length -1;while ( x.charAt(leftx) == ' ') { leftx++; }while ( x.charAt(rightx) == ' ') { --rightx; }var q = x.substr(leftx,rightx-leftx + 1);if ( (leftx == x.length) && (rightx == -1) ) { q =''; } return(q); }
function checkfield(data) {if (rmspaces(data) == ""){return false;}else {return true;}}
function isemail(data) {var flag = false;if (  data.indexOf("@",0)  == -1 || data.indexOf("\\",0)  != -1 ||data.indexOf("/",0)  != -1 ||!checkfield(data) ||  data.indexOf(".",0)  == -1  ||  data.indexOf("@")  == 0 ||data.lastIndexOf(".") < data.lastIndexOf("@") ||data.lastIndexOf(".") == (data.length - 1)   ||data.lastIndexOf("@") !=   data.indexOf("@") ||data.indexOf(",",0)  != -1 ||data.indexOf(":",0)  != -1 ||data.indexOf(";",0)  != -1  ) {return flag;} else {var temp = rmspaces(data);if (temp.indexOf(' ',0) != -1) { flag = true; }var d3 = temp.lastIndexOf('.') + 4;var d4 = temp.substring(0,d3);var e2 = temp.length  -  temp.lastIndexOf('.')  - 1;var i1 = temp.indexOf('@');if (  (temp.charAt(i1+1) == '.') || ( e2 < 1 ) ) { flag = true; }return !flag;}}
function _checkSubmit766318(frm){
if ( !CheckField766318("fldfirstname", frm) ) { 
   alert("Please enter the First Name");
   return false;
}
if ( !isemail(frm["fldEmail"].value) ) { 
   alert("Please enter the Email Address");
   return false;
}
 return true; }
</script>
