<div class="content-push"></div>
<footer class="footer">
    <ul class="center list-inline vertical-align">
    <li><a href="www.jakubvelfl.com" class="center normal-font">&copy Jakub Velfl</a></li>
        <li><a href="http://www.facebook.com/yearinabackpack" class="normal-font">fb</a></li>
        <li><a href="http://www.twitter.com/yearinabackpack" class="normal-font">twitter</a></li>
        <li><a href="http://www.instagram.com/yearinabackpack" class="normal-font">insta</a></li>
        </ul>
      </footer>    