---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="{{ page.tags }}, backpacking, travel, adventure">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Jakub Velfl and Simon Tomanik">
    <link rel="icon" href="/assets/icons/Yearinabackpack_logoblack_small.png">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap_small.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Lato:400,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <img class="sandwich" src="/assets/icons/sandwich.png" alt="menu">
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/icons/Yearinabackpack_logoblack_medium.png"></a>
    </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="/journal">Journal</a></li>
      <li><a href="/news">News</a></li> 
      <li><a href="/map">Map</a></li>
      <li><a href="/photo">Photo</a></li>
      <li><a href="/gear">Gear</a></li>
      <li><a href="/stats">Stats</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
      
  </div>
</nav>

    <div class="fill content">
      {{ content }}
    </div>
  </body>
  
  <script src="/js/bootstrap.min.js"></script>
  
</html>
