---
layout: default-nofooter
---
<head>
<meta name="geo.placename" content="{{ page.landmark }}, {{ page.categories }}">
<link rel="stylesheet" href="/css/blueimp-gallery.css">
</head>

<div itemscope="" itemtype="http://schema.org/BlogPosting">
<div class="container-fluid postHeader" id="textover">

<noscript><img src="{{ site.baseurl }}{{ image.path }}" /></noscript>
<link rel="image_src" href="{{ page.lead }}" />
        <img class="img-responsive lazyload blur-up" data-src="{{ page.lead }}"  alt="{{ page.title }}">
</div>

<div class="container-post">
    <h2>{{ page.title }}</h2>
    {% include post-info.html %}
    <hr>
<div>
    {{ content }}
</div>
    {% include sharer.html %}
</div>
</div>

    <div class="next-article center">Read next</div>
<div class="pageNavigation center">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">
        <h4>{{page.previous.title}}</h4>
    <p>{{page.previous.content | truncate: 50}}</p>
    </a>

    {% elsif page.next.url %}
    <a class="next" href="{{page.next.url}}">
        <h4>{{page.next.title}}</h4>
<p>{{page.next.content | truncate: 50}}</p>
        </p>
    </a>

  {% endif %}
</div>
