---
layout: default
---

<meta name="geo.placename" content="{{ landmark }}, {{ page.categories }}">
<link rel="stylesheet" href="/css/blueimp-gallery.css">
<script src="/js/jquery.unveil.js"></script>
    <script type="text/javascript">
     $(document).ready(function() {
            $(function() {
    $("img.lazy").lazyload();
});
});                 
    </script>

<div class="container-fluid postHeader" id="textover">
    {% for image in site.static_files %}
    {% if image.path contains page.img and image.path contains 'lead' %}
    {% unless image.path contains 'thumbnail' %}
    <a href="#links">
        <img class="img-responsive fade-image" src="{{ site.baseurl }}{{ image.path }}" alt="{{ page.title }}">
    </a>
    {% endunless %}
    {% endif %}   
    {% endfor %}
</div>

<div class="container-post">   
    <h2>{{ page.title }}</h2>
    {% include post-info.html %}
    <hr>
    {{ content }}
    {% include sharer.html %}
</div>


<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    <div class="container-fluid row">
{% for image in site.static_files %}
    {% if image.path contains page.img %}
        {% if image.path contains 'original' %}
        <a class="col-xs-6 col-sm-4 col-lg-3 nopadding gallery pull-left" href="{{ site.baseurl }}{{ image.path }}" alt="image.path">
    <img class="gallery" src="{{ site.baseurl }}{{ image.path | replace: 'original', 'thumbnail' }}" alt="image.path" />
    </a>
        {% endif %}
   {% endif %}
{% endfor %} 
</div>
</div>

    <div class="next-article center">Read next</div>
<div class="pageNavigation center">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">
        <h4>{{page.previous.title}}</h4>
    <p>{{page.previous.content | truncate: 50}}</p>
    </a>
    
    {% elsif page.next.url %}
    <a class="next" href="{{page.next.url}}">
        <h4>{{page.next.title}}</h4>
<p>{{page.next.content | truncate: 50}}</p>
        </p> 
    </a>

  {% endif %}
</div>

<script src="/js/blueimp-gallery.min.js"></script>
</script>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

