---
layout: default
---

<footer class="footer">
          <div class="container center">
          <div class="row"  id="social">
     <div class="col-md-4"><a href="http://www.facebook.com/yearinabackpack" id="btnFb" class="socialMargin">fb</a></div>
              
      <div class="col-md-4"><a href="http://www.twitter.com/YearinaBackpack" id="btnTw" class="socialMargin">tw</a></div>
              
              <div class="col-md-4"><a href="mailto:info@yearinabackpack.com" id="btnMail">@</a></div>
     
        </div>
          </div>
      </footer>